!@layer primevue {
  * {
    box-sizing: border-box;
  }
};
.bg-white {
  background-color: #fff !important;
}
.p-dropdown {
  height: 3.5rem;
  line-height: 2rem;
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  cursor: pointer;
}
.h-full {
  height: 100% !important;
}
.w-full {
  width: 100% !important;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
  margin-top: -1rem;
}
.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.col {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
}
.m-6 {
  margin: 3rem !important;
}
.p-8 {
  padding: 5rem !important;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mt-6 {
  margin-top: 3rem !important;
}
.text-center {
  text-align: center !important;
}
.text-white {

}
.text-4xl {
  font-size: 2rem !important;
}
.text-900 {
  color: var(--surface-900) !important;
}
.text-xl {
  font-size: 1.25rem !important;
}
.font-medium {
  font-weight: 500 !important;
}
.text-center {
  text-align: center !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: var(--surface-900);
}
h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
}
.field {
  margin-bottom: 1rem;
}
.p-icon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}
.p-icon {
  display: inline-block;
}
.field.grid .col-fixed, .formgrid.grid .col-fixed, .field.grid .col, .formgrid.grid .col, .field.grid .col-1, .formgrid.grid .col-1, .field.grid .col-2, .formgrid.grid .col-2, .field.grid .col-3, .formgrid.grid .col-3, .field.grid .col-4, .formgrid.grid .col-4, .field.grid .col-5, .formgrid.grid .col-5, .field.grid .col-6, .formgrid.grid .col-6, .field.grid .col-7, .formgrid.grid .col-7, .field.grid .col-8, .formgrid.grid .col-8, .field.grid .col-9, .formgrid.grid .col-9, .field.grid .col-10, .formgrid.grid .col-10, .field.grid .col-11, .formgrid.grid .col-11, .field.grid .col-12, .formgrid.grid .col-12 {
  padding-top: 0;
  padding-bottom: 0;
}
.grid > .col, .grid > [class*="col"] {
  box-sizing: border-box;
}
.col-5 {
  flex: 0 0 auto;
  padding: 1rem;
  width: 41.6667%;
}
@media screen and (min-width: 1200px) {
  .xl\:col-12 {
    flex: 0 0 auto;
    padding: 1rem;
    width: 100%;
  }
}
