@layer primevue {
.bg-surface {
  background-image: url(https://thumb.tildacdn.com/tild6364-3236-4139-b166-303362616535/-/format/webp/snapedit_17029904935.png);
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
}
.bg-black {
  background-color: #1c1a18;
}
.bg-white {
  background-color: #fffffe;
}
.text-white.border, .bg-flow .text-black {
  border: transparent;
}

.tn-atom {
  min-height: 2.5rem;
  line-height: 3.5rem;
  border-radius: 40px;
  background-position: center center;
  border-style: solid;
}
.text-white {
  color: #fffffe !important;
  background-color: #1c1a18;
}
.text-black {
  color: #1c1a18 !important;
  background-color: #fffffe;
}
.bg-black .field > .border {
  border: 2px solid transparent;
  background-color: #fffffe;
  transition: background-color 0.2s, color 0.2s, border-color 0s, box-shadow 0s !important;
}
.tn-elem, [data-shape="field"] {
  height: 3.5rem;
  line-height: 2rem !important;
}
.p-component {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  user-select: none;
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  font-weight: normal;
}

.p-inputtext {
  margin: 0;
  color: #495057;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
  font-feature-settings: var(--font-feature-settings, normal);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
}
.p-dropdown-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  width: 1%;
  text-overflow: ellipsis;
  cursor: pointer;
}
.p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
}
.p-dropdown .p-dropdown-label.p-placeholder {
  color: #6c757d;
}
.p-dropdown-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #6c757d;
  width: 3rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 2rem;
}
.p-dropdown .p-dropdown-trigger::after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-color: #000 transparent transparent transparent;
  border-top-color: #1c1a18;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}
svg{display: none !important;}
}
